/* 
*	For loading fonts through special fontloader as seen on Smashing Magazine
*	
*	http://www.smashingmagazine.com/2014/09/08/improving-smashing-magazine-performance-case-study/
*	Joost van der Laan
*/

@import"../fonts/fontawesome-stylesheet-base64.scss";
@import"../fonts/pt-sans-stylesheet-base64.scss";
@import"../fonts/oswald-stylesheet-base64.scss";
